*{
	border:0;
	margin:0;
	padding:0;

}
a{
	text-decoration:none;
	
}
body{
	height:100%;
}
header, footer{

display:block;
margin:0 auto; 
max-width:90%;
text-align:center;
}
header li{
list-style:none;
display:inline-block;
vertical-align:middle;
max-width:90%;

}

header nav{
	display:inline;
	max-width:100%;
}
header nav a{
	background:#fc7c3d;
	border: 0.1em solid #F2F2F2;
	color: #fff;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	margin-top:2px;
	padding:0.1em;
	-webkit-transition:all 0.5s easy-in;
 	transition:all 0.5s easy-in;
}
header nav a:hover{
	background:#fc7c3d	;
	border: 0.1em solid #007a78;
	color:#fff;
	transition:all 0.5s easy-out;
 	transition:all 0.5s easy-out;
}
body{
	height:100%;
}
header, footer{

display:block;
margin:0 auto; 
max-width:90%;
text-align:center;
}
header li{
list-style:none;
display:inline-block;
vertical-align:middle;
max-width:90%;

}

header nav{
	display:inline;
	max-width:100%;
}
header nav a{
	background:#fc7c3d;
	border: 0.1em solid #F2F2F2;
	color: #fff;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	margin-top:2px;
	padding:0.1em;
	-webkit-transition:all 0.5s easy-in;
 	transition:all 0.5s easy-in;
}
header nav a:hover{
	background:#fc7c3d	;
	border: 0.1em solid #007a78;
	color:#fff;
	transition:all 0.5s easy-out;
 	transition:all 0.5s easy-out;
}
h1{
	color:#fc7c3d;
	font-size: 18px;

}
section#cuerpo{
	margin:0 auto;
	margin-top:30px;
	width:90%;
}
secction #cuerpo,#bloqueiz{
	
		display:inline-block;
		margin-left:5px;
		vertical-align:middle;
	    width: 20%;
	    margin-top: 8px;
}
secction #cuerpo,#bloquecentral{
	
	display:inline-block;
	height:341px;
	vertical-align:middle;
	width: 52%;
}
secction #cuerpo,#bloquederecha{
	
		display:inline-block;
		vertical-align:middle;
	width: 20%;
}
secction #cuerpo,#bloquenoticias{
	
	display:block;
	margin:0 auto;
	margin-left:5px;
	width:98%;
}
#acordeon{
	font-size: 9px;
	font-family: arial;
}
#bloquecentral{
	
	margin-left: 50px;
	position: absolute;
	
}
#btnloguin{
	background: #f00;
}
div#registro{
	font-family: arial;
	background: #F2F2F2;
	height: 370px;
	margin-left: 30px;
	overflow: scroll;
}
select,input[type="text"],input[type="date"],input[type="password"],input[type="email"]{
	border:1px solid #ccc;
    margin-top:2px;
	border-radius:5px;
	padding:5px
}
#roluser{
	color: #f00;
	background: #fc7c3d;

}