*{
	border:0;
	margin:0;
	padding:0;
}
a{
	color:rgba(0,0,0,1);
	text-decoration:none;
	font-size:1em;
	
}
header,nav	{
display:block;
}
header {
   
	margin:0 auto;
	max-width:90%;
	text-align:center;
}

header h1,nav{
	display:inline;
	max-width:100%;
	vertical-align:middle;
}
nav,ul{
	list-style:none;
}
nav li{
	display:inline-block;
	
	vertical-align:top;
}
nav a{
	background:#fc7c3d;
	border:0.1em solid #F2F2F2;
	border-radius:0.25em;
	box-shadow:0 0 10px 0.5px;
	color: #fff;
	display: block;
	font-family: Helvetica,Verdana;
	font-size:1.2em;
	padding:0.1em;
	-webkit-transition:all 0.5s easy-in;
 	transition:all 0.5s easy-in;
}
nav a:hover{
	background:#fc7c3d	;
	border: 0.1em solid #007a78;
	border-radius:0.25em;
	color:#fff;
	transition:all 0.5s easy-out;
 	transition:all 0.5s easy-out;
}
section#contenido{
    background:#fff;
	border-radius:10px;
	line-height:70px;
	margin:auto;
	min-height:300px;
	height::200px;
	text-align:center;
	width:90%
}
section#menu_derecha,#menu_principal,#menu_izquierda{
/*background:#fff;*/
border-radius:0.2em;
/*box-shadow: 0 0 10px 0.5px;*/
display:inline-block;
margin:0 auto;
margin-top:7px;
margin-bottom:0.25em;
max-width:100%;
padding:0.25em;
vertical-align:top;
width:50%;
}
section#menu_izquierda{
text-align:left;
marigin-right:10px;
width:20%;
}
 audio,iframe,img,video{
 	max-width: 100%;
 }
article#menu_slider{
    background: #58ACFA5;
 	border-radius: 0.5em;
 	/*box-shadow: 0 0 10px 0.5px;*/
 	display: inline-block;
 	margin: 0 auto;
 	margin-bottom: 0.25em;
 	max-width: 100%;
 	padding: 0.25;
 	vertical-align: top;
 	width: 65%;
}
article#menu_slider{
height:50%;
margin-top:5px;
width:95%;
height:80%;

}
section#menu_derecha{
width:20%;
text-align:center;
}

section#menu_principal{
padding:0.2em;
width:75%;
}
/*boton como enlace*/
.enlace {border-radius:1px; text-align:center;background-color: #fc7c3d; color: #ffffff;  cursor: pointer;font-family:Arial,cursive;font-size: 20px;}
.enlace:hover { background-color: #fc7c3d;
	border-radius:3.5px;
	
	}

