@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset 'UTF-8';
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  text-align:center;
  line-height: 1;
  font-family: Helvetica,Verdana;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  width: 250px;
}
#cssmenu > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #fff;
  /*color: #A4A4A4;*/
  color:rgba(102,102,102,20);
  border-bottom: 1px solid #F2F2F2;
  text-transform: uppercase;
}

#cssmenu > ul > li > a > span {
  background: #FFF;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  color: #A4A4A4;
 
}
#cssmenu > ul > li.active > a span {
  background: #ffff;
}
#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background:#FFF;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  border: 1px solid #FFF;
  border-top: 0;
}
#cssmenu ul ul a {
  padding: 10px;
  display: block;
  color:#665f60;
  font-size: 13px;
}
#cssmenu ul ul a:hover {
  color:#fc7c3d;
}
#cssmenu ul ul li.odd {
  background:#f4f4f4;
}
#cssmenu ul ul li.even {
  background: #fff;
}
